.field_with_errors {
  display: inline-block;

  input[type="text"],
  [type="email"],
  [type="password"],
  textarea {
    border: 1px solid red;
  }
  label {
    color: red;
  }
}

.fields {
  margin: 4px 0px;
}

.flash {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px, 10px;
  border-radius: 4px;
}

.flash-notice {
  background-color: aqua;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  background-color: papayawhip;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
  margin: 6px;
  align-items: center;
}

nav li {
  margin-right: 20px;
  border-radius: 10px;
  font-size: 20px;
}

li a {
  margin: auto;
}
